.homeTeam {
    background-color: red;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.awayTeam {
    display: flex;
    height: 800px;
    background-color: lightblue;
    display: table-cell;
    text-align: center;
    transform: rotate(180deg);
    vertical-align: middle;
    width: 75px;
    writing-mode: vertical-rl;
    align-items: center;
    justify-content: center;
}

.heading {
    &:global(.MuiTypography-root) {
        font-family: 'Biryani';
        font-size: 2rem;
        font-weight: bold;
    }
}

.cell {
    width: 75px;
    height: 75px;
    border: none;
}
